body {
  background-color: rgb(245, 245, 245);
}

h1 {
  color: rgb(230, 230, 230);
  text-align: center;
  background-color: rgb(68, 68, 68);
  font-family: Georgia;
}

p {
  font-family: Georgia;
  font-size: 20px;
}


table {
  border-collapse: collapse;
  width: 100%;
  font-family: Helvetica;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


th {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  background-color: #ddd;
}


label {
  font-family: Georgia;
  font-size: 16px;
}